/************************************
    COMMON
************************************/

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --color-black: #000000;
    --color-white: #FFFFFF;

    --soundbar-1: #7301ff;
    --soundbar-2: #010dff;
    --soundbar-3: #018aff;
    --soundbar-4: #01fff6;
    --soundbar-5: #01ff79;
    --soundbar-6: #07ff01;
    --soundbar-7: #84ff01;
    --soundbar-8: #fffc01;
    --soundbar-9: #ff7f01;
    --soundbar-10: #ff0101;
    --soundbar-11: #ff017f;
    --soundbar-12: #ff00ff;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
    width: 100%;
}

/* COMMON */

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {text-decoration: none;}

img {
    display: block;
}

ul {
    list-style: none;
}