/************************************
    EFFECT
************************************/

.img-container img {
    animation: play 6s linear infinite;
    animation-play-state: paused;
}

@keyframes play {
    100% {
        transform: rotate(360deg);
    }
}

#img-layover {
    animation: img-timing 30s linear infinite;
    animation-play-state: paused;
}

@keyframes img-timing {
    100% {
        box-shadow: 0px 0px 0px 114px rgba(255,255,255,0.1);
    }
}

.sfx-1-l,
.sfx-1-r {
    animation: sfx1 1s linear infinite;
    animation-play-state: paused;
}

@keyframes sfx1 {
    60% {
        width: 40%;
    }
}

.sfx-2-l,
.sfx-2-r {
    animation: sfx2 1s linear infinite;
    animation-play-state: paused;
}

@keyframes sfx2 {
    50% {
        width: 60%;
    }
}

.sfx-3-l,
.sfx-3-r {
    animation: sfx3 0.75s linear infinite;
    animation-play-state: paused;
}

@keyframes sfx3 {
    40% {
        width: 70%;
    }
}

.sfx-4-l,
.sfx-4-r {
    animation: sfx4 0.5s linear infinite;
    animation-play-state: paused;
}

@keyframes sfx4 {
    50% {
        width: 80%;
    }
}

#play-btn i,
#pause-btn i {
    transition: all 0.3s ease-out 0.2s;
}

#play-btn:hover i,
#pause-btn:hover i {
    transform: scale(110%);
}

.mascotte-container-1 {
    animation: mascotte-move-1 1s linear forwards;
    animation-play-state: paused;
}

.mascotte-container-2 {
    animation: mascotte-move-2 1s linear forwards;
    animation-play-state: paused;
}

@keyframes mascotte-move-1 {
    100% {
        transform: rotate(180deg) translate(0, -75%);    
        filter: invert(100%) sepia(22%) saturate(7199%) hue-rotate(31deg) brightness(121%) contrast(107%);
    }
}

@keyframes mascotte-move-2 {
    0% {
        transform: rotate(180deg) translate(0, -75%);    
        filter: invert(100%) sepia(22%) saturate(7199%) hue-rotate(31deg) brightness(121%) contrast(107%);
    }
    100% {
        transform: rotate(0) translate(0, 0);
    }
}

.mascotte-txt-container-1 {
    animation: txt-move-1 1s linear forwards;
    animation-play-state: paused;

}

.mascotte-txt-container-2 {
    animation: txt-move-2 1s linear forwards;
    animation-play-state: paused;

}

@keyframes txt-move-1 {
    100% {
        top: 20px;
        left: 110px;
    }
}

@keyframes txt-move-2 {
    0% {
        top: 20px;
        left: 110px;
    }
    100% {
        top: -30px;
        left: 80px;
    }
}

#stick {
    animation: stick-move 3s linear infinite;
    animation-play-state: paused;
}

@keyframes stick-move {
    from {
        transform: rotate(-100deg);
        bottom: -15px;
    }
    10% {
        transform: rotate(-100deg);
        bottom: -15px;
    }
    
    12% {
        transform: rotate(-120deg);
        bottom: -5px;
    }
    80% {
        transform: rotate(-120deg);
        bottom: -5px;
    }
    to {
        transform: rotate(-100deg);
        bottom: -15px;
    }
}

#hamburger {
    animation: hamburger-move 3s linear infinite;
    animation-play-state: paused;
}

@keyframes hamburger-move {
    from {
        transform: rotate(120deg);
        top: 55px;
        left: 30px;
    }
    12% {
        transform: rotate(120deg);
        top: 55px;
        left: 30px;
    }
    46% {
        transform: rotate(-420deg);
        top: 150px;
        left: 215px;
    }
    80% {
        transform: rotate(-600deg);
        top: 55px;
        left: 30px;
    }
    to {
        transform: rotate(-600deg);
        top: 55px;
        left: 30px;
    }
}