/************************************
    STYLE
************************************/

/* HEADER */

body {
    background-color: var(--color-gray);
}

header {
    text-align: center;
    color: var(--color-black);
    background-color: var(--color-orange);
    padding: 15px;
}

main {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* SOUNDBAR */

.soundbar-l {
    height: 50px;
    border: 2px solid var(--color-black);
    border-right: 0;
    margin-bottom: 5px;
}

.soundbar-r {
    height: 50px;
    border: 2px solid var(--color-black);
    border-left: 0;
    margin-bottom: 5px;
}

.sbar-1 {
    background-color: var(--soundbar-1);
}

.sbar-2 {
    background-color: var(--soundbar-2);
}

.sbar-3 {
    background-color: var(--soundbar-3);
}

.sbar-4 {
    background-color: var(--soundbar-4);
}

.sbar-5 {
    background-color: var(--soundbar-5);
}

.sbar-6 {
    background-color: var(--soundbar-6);
}

.sbar-7 {
    background-color: var(--soundbar-7);
}

.sbar-8 {
    background-color: var(--soundbar-8);
}

.sbar-9 {
    background-color: var(--soundbar-9);
}

.sbar-10 {
    background-color: var(--soundbar-10);
}

.sbar-11 {
    background-color: var(--soundbar-11);
}

.sbar-12 {
    background-color: var(--soundbar-12);
}

.sound-container {
    position: relative;
}

.sfx-1-l {
    background-color: var(--color-gray);
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 10%;
    box-shadow: -10px 0px 0px 0px rgba(167, 169, 190, 0.8);
}

.sfx-2-l {
    background-color: var(--color-gray);
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 20%;
    box-shadow: -10px 0px 0px 0px rgba(167, 169, 190, 0.8);
}

.sfx-3-l {
    background-color: var(--color-gray);
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50%;
    box-shadow: -10px 0px 0px 0px rgba(167, 169, 190, 0.8);
}

.sfx-4-l {
    background-color: var(--color-gray);
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 70%;
    box-shadow: -10px 0px 0px 0px rgba(167, 169, 190, 0.8);
}

.sfx-1-r {
    background-color: var(--color-gray);
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 10%;
    box-shadow: 10px 0px 0px 0px rgba(167, 169, 190, 0.8);
}

.sfx-2-r {
    background-color: var(--color-gray);
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 20%;
    box-shadow: 10px 0px 0px 0px rgba(167, 169, 190, 0.8);
}

.sfx-3-r {
    background-color: var(--color-gray);
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50%;
    box-shadow: 10px 0px 0px 0px rgba(167, 169, 190, 0.8);
}

.sfx-4-r {
    background-color: var(--color-gray);
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 70%;
    box-shadow: 10px 0px 0px 0px rgba(167, 169, 190, 0.8);
}

/* MASCOTTE */

#mascotte-container {
    position: relative;
    z-index: 99;
}

.backcol-main {
    background-color: var(--color-black);
    height: 12px;
    aspect-ratio: 1 / 1;
}

.backcol-sec {
    background-color: greenyellow;
}

.mcdonalds-hamburger {
    position: relative;
}

#mascotte-txt-container {
    position: absolute;
    top: -140px;
    left: 65px;
    text-align: center;
}

.mascotte-txt {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-white);
    padding: 50px;
    border-radius: 50%;
}

.mascotte-item1 {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: absolute;
    bottom: -55px;
    right: 20px;
}

.mascotte-item2 {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: absolute;
    bottom: -75px;
    right: -10px;
}

#play-btn i,
#pause-btn i {
    font-size: 100px;
}

#pause-btn {
    display: none;
}

/* PLAYER */

.img-container {
    position: relative;
    margin-top: 15px;
}

#img-layover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 132px;
    height: 132px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px rgba(255,255,255,0.5);
}

.img-container img {
    width: 100%;
}